body {
    font-family: Arial, sans-serif;
    background-color: #0056b3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    
    margin-top: 10%;
}

#progressContainer {
    position: fixed;
    top: 10;
    left: 10%;
    font-size: 1.5rem;
    background-color: #0056b3;
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
}

#questionProgress {
    margin-bottom: 5px;
}

#progressBar {
    margin-top: 15px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

#progress {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s;
}

.questionContainer{
    padding-top: 17%;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#options {
    margin-bottom: 20px;
}

.option {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    background-color: #eee;
    color: #333;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
    transition: transform 0.2s, background-color 0.2s;
}

.option:hover {
    transform: scale(0.9);
}
.option.clicked,
.option.clicked:hover {
    transform: none;
}

#score {
    position: fixed;
    top: 10;
    right: 10%;
    font-size: 25px;
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.correct {
    background-color: #8bc34a;
}

.wrong {
    background-color: #f44336;
}

#scoreMessage {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#playAgain , #goHome {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e1e111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
}
#playAgain{
    margin-right: 2rem;
}
#playAgain:hover , #goHome:hover{
    background-color: red;
}